body {
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header a span {
  color: #25ad61;
}

.header .logo {
  color: #000;
  font-size: 32px;
  font-family: 600;
  text-decoration: none;
}

.header .navbar a {
  color: #000;
  text-decoration: none;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
}

.header .navbar a:hover {
  padding: 5px;
  background-color: green;
  color: #fff;
}

.activity-section svg {
  color: #222;
  font-size: 25px;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.activity-section svg:hover {
  background: #25ad61;
  color: #fff;
}

.login {
  height: 40px;
  width: 140px;
  border-radius: 8px;
  background-color: #25ad61;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: 1px solid #25ad61;
  cursor: pointer;
}

.login:hover {
  background-color: green;
}

.btn {
  margin-left: 5px;
}

.btn button {
  margin-top: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn button:hover {
  background-color: #3e8e41;
}

.btn button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

.home-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section .text-content h1 {
  font-size: 20px;
  color: #25ad61;
  font-weight: 500;
}

.home-section .text-content h2 {
  font-size: 75px;
  color: #3d3f56;
  font-weight: 600;
}

.home-section .text-content p {
  max-width: 600px;
  color: #222;
}

.home-section .image-section img {
  mix-blend-mode: color-burn;
  width: 40vw;
  animation: Bounce 4s ease forwards infinite;
}

@keyframes Bounce {
  0% {
    transform: translateY(-24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}

.home-section .image-section .shadow {
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  border-radius: 50%;
  filter: blur(5px);
  width: 40vw;
  animation: BounceIn 4s ease forwards infinite;
}

@keyframes BounceIn {
  0% {
    transform: translateY(24px) scale(.5);
  }
  50% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(24px) scale(.5);
  }
}

.container-food {
  position: fixed;
  margin-top: 75px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.food-box {
  width: 21%;
  display: inline-block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 1.1em;
}

.food-box img {
  width: 300px;
  height: 300px;
  aspect-ratio: 3/2;
  object-fit: fill;
}

.food-box img:hover {
  transform: scale(0.95);
}

.container-food h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.food-box h2 {
  text-align: center;
}

.food-box svg {
  font-size: 20px;
  color: rgb(216, 225, 52);
}

.circle {
  border-bottom-left-radius: 2.1em;
  border-top-left-radius: 2.1em;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 35px;
  background-color: rgb(52, 162, 52);
  color: white;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-about {
  position: fixed;
  margin-top: 75px;
  width: 100%;
}

.container-about h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-det {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.cox {
  border: 10px solid rgb(52, 162, 52);
  border-radius: 1.1em;
  text-align: center;
}

.container-det img {
  width: 145px;
  height: 300px;
  aspect-ratio: 2/2;
  border-radius: 0.5em;
  cursor: pointer;
}

.chef-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chef-container .container-det {
  width: 21%;
  margin: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 1.1em;
}

.chef-container .container-det .cox {
  border: 10px solid rgb(52, 162, 52);
  border-radius: 1.1em;
  text-align: center;
}

.chef-container .container-det img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  cursor: pointer;
}

.container-det p {
  font-family: fantasy;
}

.main {
  width: 100%;
}

.box-reviewer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.reviewer {
  margin-top: 100px;
  width: 70%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.container-reviewer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewer img {
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 2.1em;
  border-bottom-right-radius: 2.1em;
  width: 300px;
  aspect-ratio: 3/2;
}

.reviewer-text {
  flex: 1;
  padding: 20px;
}

.reviewer-text h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(6, 60, 6);
}

.reviewer-text p {
  color: #a5a2a2;
  font-size: 20px;
}

.box-reviewer h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sliders {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sliders button {
  padding: 10px;
  background-color: rgb(52, 162, 52);
  border: 1px solid rgb(52, 162, 52);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  border-radius: 0.3em;
}

.sliders button:hover {
  background-color: green;
}


@media screen and (max-width: 768px) {
  body {
    background-color: #f0f0f0;
  }

  .header {
    padding: 5px 0%;
  }

  .header .navbar a {
    font-size: 18px;
  }


}
